@import 'src/scss/abstracts/mixins';
@import 'src/scss/abstracts/variables';

.main
{
    @include centrar-contenido;
}

.card
{
    @include card-shadow;
    border: solid 1px $colorCardBorder;
    width: 30vw;
    margin-top: 10vh;
    
    .card-header
    {
        border: solid 1px $colorCardBorder;
        padding-left: 3vw;
        background-color: $colorCardHeader;
    }

    .card-content
    {
        font-size: 2.2vh;
        border: solid 1px $colorCardBorder;
        display: flex;
        flex-direction: column;
        padding: 3vh 3vw;

        .campo
        {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 2vh 0;

            input,
            select
            {
                width: 10vw;
            }

            .opciones
            {
                display: flex;
                flex-direction: row;

                input
                {
                    width: 1.5vw;
                    margin-left: 1vw;
                }
            }

            .errorEnValidacion
            {
                font-size: 1.5vh;
                text-align: right;
                width: 100%;
                padding: 0.5vh 0.5vw;
                color: $colorTextoError;
            }
        }

        .card-buttons
        {
            display: flex;
            justify-content: flex-end;

            .aceptar
            {
                background-color: $colorBoton;

                &:hover
                {
                    background-color: $colorBotonHover;
                }

                &:disabled
                {
                    background-color: $colorBotonDeshabilitado;
                }
            }

            .cancelar
            {
                background-color: $colorBotonCancelar;

                &:hover
                {
                    background-color: $colorBotonCancelarHover;
                    color: $colorTextoBotonHover;
                }
            }
        }
    }
}

button
{
    @include basic-button;
    font-size: 2vh;
    margin: 3vh 1vw;    
}
