<div class="main mainReceta">
    <div class="receta">
        <div class="nombreReceta">
            <h1>{{ receta.nombre | uppercase }}</h1>
        </div>
        <div class="datosReceta">
            <div class="izquierda">
                <div class="ingredientes">
                    <h3>Ingredientes</h3>
                    <ul>
                        <li *ngFor="let ingrediente of ingredientes">
                            {{ingrediente}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="derecha">
                <div class="info">
                    <p>Tiempo de preparación: {{receta.horas}} horas {{receta.minutos}} minutos</p>
                    <p>Raciones: {{receta.raciones}}</p>
                    <p>Subida por: {{receta.nombreUsuario}}</p>
                </div>
                <div class="preparacion">
                    <h3>Preparación</h3>
                    <hr>
                    <p>{{receta.preparacion}}</p>
                </div>
            </div>
        </div>
        <div class="buttonsReceta">
            <button class="aceptar" (click)="modificar(receta.id)" *ngIf="usuario.username == receta.nombreUsuario">Modificar</button>
            <button class="cancelar" (click)="cancelar()">Volver</button>
        </div>
    </div>
</div>