$colorBotonCancelar: #E23F68;
$colorBotonCancelarHover: #A20930;
$colorCardBorder: #cbcbcb;
$colorTextoBotonHover: #F48EA7;
$colorTextoError: red;
$navBorder: #FFB96A;
$navBackground: #ffffeb;

$colorBoton: #649E7A;
$colorBotonHover: #408359;
$colorSombraBoton: #12532A;
$colorBotonDeshabilitado: #93BDA3;
$gradiente: linear-gradient(180deg, #12532A 10%,#8FBA9F 40%,#8FBA9F 60%,#12532A 90% );
$colorCardHeader: #93BDA3;

$colorPagination: #b8dbc5;

$colorBackgroundAvisos: #93BDA3;
$colorTextoAvisos: #12532A;