$colorBoton: #38C513;
$colorBotonHover: #269609;
$colorSombraBoton: #124804;
$colorBotonDeshabilitado: #9DEB88;
$gradiente: linear-gradient(180deg, #124804 10%,#59d03a 40%,#59d03a 60%,#124804 90% );
$colorBotonCancelar: #E23F68;
$colorBotonCancelarHover: #A20930;
$colorCardBorder: #cbcbcb;
$colorCardHeader: #9DEB88;
$colorTextoBotonHover: #F48EA7;
$colorTextoError: #D51545;