<div class="main">
    <div class="tabs">
        <ul class="nav">
            <li class="navItem" *ngFor="let categoria of categorias" (click)="obtieneRecetasCategoria(categoria.descripcion)">
                {{categoria.descripcion}}
            </li>
        </ul>
    </div>
    
    <div class="sinSeleccionar main" *ngIf="seleccionada==null && receta != null">
        <h1>Te recomendamos...</h1>
        <div class="randomCard">
            <div class="randomCard-header">
                <h2>{{receta.nombre}}</h2>
            </div>
            <div class="randomCard-content">
                <p>Tiempo de preparacion: {{receta.horas}} horas {{receta.minutos}} minutos</p>
                <p>Usuario: {{receta.nombreUsuario}}</p>
                <div class="randomCard-buttons">
                    <button class="aceptar" (click)="verReceta(receta.id)">Ver todo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="recetas">
        <div class="gridCard" *ngFor="let receta of recetas | paginate: { itemsPerPage: 12, currentPage: pag }">
            <div class="gridCard-header">
                {{receta.nombre}}
            </div>
            <div class="gridCard-content">
                <p>Tiempo de preparacion: {{receta.horas}} horas {{receta.minutos}} minutos</p>
                <p>Usuario: {{receta.nombreUsuario}}</p>
                <div class="gridCard-buttons">
                    <button (click)="verReceta(receta.id)">Ver todo</button>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="pag = $event" autoHide="true" previousLabel="Anterior" nextLabel="Siguiente"
    screenReaderPaginationLabel="Paginación" screenReaderPageLabel="Página" screenReaderCurrentLabel="Estás en la página"></pagination-controls>

    <div class="modal" *ngIf="visible">
        <app-receta (mostrarReceta)="mostrar()" [receta]="receta"></app-receta>
    </div>
</div>