@import 'src/scss/abstracts/mixins';
@import 'src/scss/abstracts/variables';

.main
{
    @include centrar-contenido
}

.nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 2.5vh;

    .navItem
    {
        margin: 0 0.3vw;
        display: block;
        padding: 0.5vh 0.5vw;
        border: 1px solid transparent;
        border-radius: .25rem;
        text-decoration: none;
        color: #273f30;
        border-color: #b0cfbc;
        
        &:hover
        {
            background-color: #eff5f2;
        }
        
        &:visited
        {
            color: #273f30;
        }
    }
}

.sinSeleccionar
{
    height: 30vh;
    width: 50vw;
    background-color: #d0e2d7;
    margin-top: 10vh;
    padding: 3vh 6vw;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #273f30;
}

.recetas
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    .card
    {
        @include card-shadow;
        border: solid 1px $colorCardBorder;
        border-radius: 15px;
        width: 20vw;
        margin: 5vh 2vw;
        
        .card-header
        {
            border: solid 1px $colorCardBorder;
            border-radius: 15px 15px 0 0;
            padding-left: 3vw;
            background-color: $colorCardHeader;
            font-size: 4vh;
        }
    
        .card-content
        {
            font-size: 2.2vh;
            border: solid 1px $colorCardBorder;
            border-radius: 0 0 15px 15px;
            display: flex;
            flex-direction: column;
            padding: 3vh 3vw;
    
            .card-buttons
            {
                display: flex;
                justify-content: flex-end;
                
                button
                {
                    @include basic-button;
                    font-size: 2vh;
                    margin: 3vh 1vw;
                    background-color: $colorBotonDeshabilitado;
                    
                    &:hover
                    {
                        background-color: $colorBoton;
                    }
                }
            }
        }
    }
}

.modal
{
    position: fixed;
    z-index: 1;
}