<div class="main">
    <div class="content">
        <h1>Accede</h1>
        <form #loginForm="ngForm" (ngSubmit)="aceptar()">
            <div class="campo">
                <label for="username"><b>Nombre de usuario</b></label>
                <input type="text" required name="username" placeholder="Nombre de usuario"
                    [(ngModel)]="user.username" #username="ngModel">
                <div [hidden]="username.valid || username.untouched" class="errorEnValidacion">
                    El nombre de usuario es obligatorio
                </div>
            </div>
            <div class="campo">
                <label for="pass"><b>Contraseña</b></label>
                <input type="password" required name="pass" placeholder="Contraseña"
                    [(ngModel)]="user.pass" #pass="ngModel">
                <div [hidden]="pass.valid || pass.untouched" class="errorEnValidacion">
                    La contraseña es obligatoria
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="aceptar" [disabled]="!loginForm.form.valid">Crear usuario</button>
                <button class="cancelar" (click)="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>