@import '../../../../scss/abstracts/mixins';
@import '../../../../scss/abstracts/variables';

h1
{
    background: $gradiente;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 7vh;
}

.buttons
{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vh;
    
    button
    {
        @include basic-button;
        background-color: $colorBoton;
        font-size: 2.5vh;
        margin: 3vh 3vw;
        
        &:hover
        {
            background-color: $colorBotonHover;
        }
    }
}

.main
{
    @include centrar-contenido
}

.modal
{
    position: fixed;
    z-index: 1;
}