.rowCentered
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main
{
    @include centrar-contenido
}

.bienvenidaButtons
{
    @include flex-column;
    margin-top: 4vh;
    
    @media screen and (min-width: 600px)
    {
        flex-direction: row;
        flex-wrap: wrap;
        width: 80vw;
        justify-content: center;
    }
}

.login
{
    height: 90vh; 
    background-color: transparentize($color: black, $amount: 0.75);
}

.loginButtons
{
    @include flex-end;
}

.mainReceta
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparentize($color: black, $amount: 0.75);
}

.buttonsReceta
{
    @include flex-end;
    margin: 3vh 0;
    width: 80vw;

    @media screen and (min-width: 600px)
    {
        width: 65vw;
    }

    @media screen and (min-width: 1200px)
    {
        width: 45vw;
    }
}