.loginForm{
    width: 60vw;
    padding: 3vh 2vw;
    margin-bottom: 2vh;

    @media screen and (min-width:600px)
    {
        width: 35vw;
    }

    .campo
    {
        @include flex-column;
        font-size: 3.5vh;
        margin-bottom: 4vh;

        input
        {
            font-size: 3vh;
            border-radius: 5px;
        }

        .ng-invalid
        {
            border-left: solid 5px #D51545;
        }
    
        .ng-pristine
        {
            border-left: solid 5px #38C513;
        }
    
        .ng-touched
        {
            border-left: solid 5px #D51545;
        }
    
        .ng-valid
        {
            border-left: solid 5px #38C513;
        }

        .errorEnValidacion
        {
            background-color: #ffeff3;
            color: $colorTextoError;
            padding: 1vh 4vw;
            border-radius: 0 0 10px 10px;
            font-size: 2.5vh;
        }
    }
}

.signupForm
{
    width: 70vw;

    @media screen and (min-width: 600px)
    {
        width: 50vw;
    }

    @media screen and (min-width: 1200px)
    {
        width: 40vw;
    }

    .campo
        {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 3vh 0;
        font-size: 2.5vh;

        input,
        select
        {
            width: 25vw;

            @media screen and (min-width: 600px)
            {
                width: 20vw;
            }
        }

        .opciones
        {
            @include flex-row;
            justify-content: space-around;
            width: 70vw;
            margin-top: 1vh;

            input
            {
                width: 2.5vw;
            }
        }

        .errorEnValidacion
        {
            font-size: 2.1vh;
            text-align: right;
            width: 100%;
            margin-top: 1vh;
            color: $colorTextoError;
        }
    }
}

.recetaForm
{
    width: 70vw;

    @media screen and (min-width: 600px)
    {
        width: 50vw;
    }

    @media screen and (min-width: 1200px)
    {
        width: 40vw;
    }

    .campo
        {
        @include flex-column;
        margin: 3vh 0;
        font-size: 3vh;

        @media screen and (min-width: 1200px)
        {
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
        }

        input,
        select
        {
            width: 40vw;

            @media screen and (min-width: 600px)
            {
                width: 40vw;
            }

            @media screen and (min-width: 1200px)
            {
                width: 20vw;
                font-size: 2vh;
            }
        }

        .raciones
        {
            @media screen and (min-width: 600px)
            {
                width: 10vw;
            }
        }

        .tiempo
        {
            @media screen and (min-width: 1200px)
            {
                width: 20vw;
            }

            input
            {
                width: 10vw;
                margin: 0 2vw;

                @media screen and (min-width: 1200px)
                {
                    width: 3vw;
                    margin: 0 1vw;
                }
            }
        }

        textarea
        {
            width: 65vw;
            height: 10vh;

            @media screen and (min-width: 600px)
            {
                width: 45vw;
            }

            @media screen and (min-width: 1200px)
            {
                width: 45vw;
                font-size: 2vh;
            }
        }

        .microondas
        {
            @include flex-row;
            justify-content: space-around;
            width: 30vw;
            margin-top: 1vh;

            @media screen and (min-width: 600px)
            {
                width: 20vw;
            }

            input
            {
                width: 2.5vw;
            }
        }

        .errorEnValidacion
        {
            font-size: 2.1vh;
            text-align: right;
            width: 100%;
            margin-top: 1vh;
            color: $colorTextoError;
        }
    }
}