@import '../abstracts/mixins';
@import '../abstracts/variables';

nav
{
    border: solid 1px $navBorder;
    background-color: $navBackground;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.nav
{
    @include grid;
    padding-left: 0;
    margin-bottom: 1vh;
    list-style: none;
    font-size: 2.5vh;

    .navItem
    {
        margin: 0.5vh 0.5vw;
        display: block;
        padding: 0.5vh 0.5vw;
        border: 1px solid #b0cfbc;
        border-radius: .25rem;
        text-decoration: none;
        color: #273f30;
        
        &:hover
        {
            background-color: #eff5f2;
        }
        
        &:visited
        {
            color: #273f30;
        }
    }
}