<nav>
    <div class="titulo rowCentered">
        <img class="imgLogo" src="../../../assets/img/logo.png" alt="Logo de la página" routerLink="/recetas">
        <h1 class="tituloHeader">Recetas para todos</h1>
    </div>
    <div class="rowCentered">
        <div class="rowCentered" [hidden]="user == null">
            <!-- <h3>Bienvenid@ {{user.username}}</h3> -->
        </div>
        <button class="headerButton" routerLink="/usuarios">Mis datos</button>
        <button class="headerButton" routerLink="/bienvenida" (click)="tokenStorage.signOut()">Salir</button>
    </div>
</nav>